// Copyright 2016 José Varela

@font-face {
  font-family: 'Varela Round';
  src: url(/varela_round.ttf);
}

@font-face {
  font-family: 'Icons';
  src: url(/fontello.ttf);
}

i {
  font-family: 'Icons';
  font-style: normal;
}

body {
  background: #1A373E;
  font-family: 'Varela Round', sans-serif;
  min-width: 450px;
  margin: 0;
  padding: 0;
}

#f-search {
  text-align: center;
}

#search-term {
    margin-top: 10px;
    border: 1px solid #000;
    height: 30px;
    padding-left: 20px;
    width: 80%;
}

.hidden {
  position: fixed;
  top: -500px;
}

.alert-message {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.alert-message h1 {
  color: rgb(255, 255, 255);
}

.nodisplay {
  display: none;
}

.w400 {
  width: 400px;
}

.pt20 {
  padding-top: 20px;
}

.ptb20 {
  padding: 20px 0;
}

.gifs-wrapper {
  text-align: center;
}

.gifs-wrapper p{
  color: #fd5559;
}

#error-message {
  text-align: center;
}

.image-wrapper {
  position: relative;
}

.image-wrapper .gif {
  height: 100%;
  width: 100%;
}

.image-wrapper .overlay {
  background: rgba(0, 0, 0, .5);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.image-wrapper:hover .overlay {
  display: block;
}

.image-wrapper .overlay .share {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-wrapper .overlay .share .icon {
  font-size: 56px;
  color: #66cdaa;
}

.image-wrapper .overlay .share .message {
  font-size: 24px;
  color: #66cdaa;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  background: rgba(0,0,0, .5);
}

header button {
  background: #2C95AE;
  border: 1px solid;
  border-color: transparent black transparent transparent;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}

header button:hover {
  opacity: .6;
  outline: 0;
}
